# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [4]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
reviews =[] 
stars = [] 
date= [] 
country = [] #made a list to collect the reviews, stars, dates, and from the reviews are!

In [6]:
for i in range(1,36): 
    page = requests.get(f'https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100')
    soup = BeautifulSoup(page.content, 'html')
    for item in soup.find_all('div', class_='text_content'):
        reviews.append(item.text)
    for item in soup.find_all('div', class_='rating-10'):
        try:
            stars.append(item.span.text)
        except:
            print(f'Error on page {i}')
            stars.append('None')

#date 
    for item in soup.find_all('time'):
        date.append(item.text)

#country 
    for item in soup.find_all('h3'):
         country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 33
Error on page 34
Error on page 34

In [7]:
len(reviews)

3500

In [8]:
len(country)

3500

In [9]:
len(stars)

3535

In [13]:
stars = stars[:3500]        #correcting the length

In [10]:
len(date)

3500

In [15]:
df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})
df

,reviews,stars,date,country
0,Not Verified | Had to cancel my flight month...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,1st July 2024,Canada
1,✅ Trip Verified | Flight cancelled with no rea...,1,30th June 2024,United Kingdom
2,✅ Trip Verified | This is a route I fly regula...,1,26th June 2024,United Kingdom
3,✅ Trip Verified | While BA may have made some...,6,23rd June 2024,Canada
4,✅ Trip Verified | British Airways new Club Sui...,3,23rd June 2024,Canada
...,...,...,...,...
3495,We flew BA from London to Dulles DC 10/8/2014....,1,12th October 2014,United States
3496,B787. Just returned from a London - Toronto - ...,9,12th October 2014,United Kingdom
3497,I travelled to Hong Kong with British Airways ...,1,12th October 2014,United Kingdom
3498,LGW to SZG. Absolutely useless for a scheduled...,4,8th October 2014,United Kingdom
3499,BA92 4/10/14 YYZ-LHR B787 G-ZBJE. If you want ...,1,8th October 2014,United Kingdom

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.

In [16]:
df.shape

(3500, 4)

#### Export the data into a csv format

In [21]:
import os
cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")